<div>
    <h1>Товары:</h1>
<!--    <h3>Фильтр</h3>-->

<!--    <form novalidate ng-submit="applyFilter()">-->
<!--        <div class="form-group col-md-6">-->
<!--            <label for="bookFilterTitle">Название</label>-->
<!--            <input class="form-control" type="text" ng-model="bookFilter.title" id="bookFilterTitle">-->
<!--        </div>-->
<!--        <div>-->
<!--            <button class="btn btn-success" type="submit">Применить</button>-->
<!--        </div>-->
<!--    </form>-->

    <h3>Список товаров</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="p in ProductsList">
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-primary to-cart-btn" ng-click="addToCartFunction(p)">Добавить в корзину</button>
            </td>
        </tr>
        </tbody>
    </table>


</div>