<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>

    <title>Каталог товаров</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!--- Set source of js  -->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>

    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js}"></script>
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/cart_add_notification.js}"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Catalog)}"/>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <table id="conversation" class="table table-striped">
                        <thead>
                        <tr>
                            <th>В корзине</th>
                        </tr>
                        </thead>
                        <tbody id="cart_quantity_greetings">
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <!---
        <label id="resultProductNameInput" class="form-check-label" th:text="${#content}"/>
        --->
    </div>

    <h1 th:text="Фильтры" />

    <form th:action="@{/catalog}" method="get">
        <div class="form-group">
            <label>Категории</label>
            <div class="form-check" th:each="c : ${@categoryService.getAllCategories()}">
                <input type="checkbox" class="form-check-input" name="categories" th:value="${c.id}">
                <label class="form-check-label" th:text="${c.title}"></label>
            </div>
        </div>
        <div>
            <input th:value="${param.title != null ? param.title : null}" th:name="title" type="text" placeholder="Название">
            <input th:value="${param.min_price != null ? param.min_price : null}" th:name="min_price" type="number" placeholder="Минимальная цена">
            <input th:value="${param.max_price != null ? param.max_price : null}" th:name="max_price" type="number" placeholder="Максимальная цена">
        </div>
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </form>

    <br>

    <h1 th:text="#{products.list}" />

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Картинка</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>

        <tr th:if="${products.hasContent()}" th:each="p : ${products.getContent()}">
            <td th:text="${p.id}"></td>
            <td>
                <img th:if="${p.images.size() > 0}" width="40" height="40" th:src="@{'/images/' + ${p.images[0].path}}" />
            </td>
            <td th:text="${p.title}"></td>
            <td th:text="${p.price}"></td>
            <td>
                <a id="add_to_cart"  th:href="@{/catalog/cart/add/{product_id}(product_id = ${p.id})}" class="btn btn-primary" onclick="sendCartQuantity()">Добавить в корзину</a>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-success" th:href="@{/catalog/edit/{id}(id = ${p.id})}" th:method="GET">
                    <i class="fas fa-edit">Редактировать</i>
                </a>

                <form class="d-inline" th:action="@{/catalog/delete/{id}(id = ${p.id})}" th:method="delete" >
                    <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt">Удалить</i></button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:classappend="${products.isFirst() ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/catalog(page=${products.previousOrFirstPageable().getPageNumber() + 1}, filters=${filters})}">Назад</a>
                </li>

                <li class="page-item" th:classappend="${i == products.getNumber() + 1 ? 'active' : ''}"
                    th:each="i : ${#numbers.sequence((products.getNumber() + 1 > 2 ? products.getNumber() - 1 : 1), (products.getNumber() + 3 < products.getTotalPages() ? products.getNumber() + 3 : products.getTotalPages()) )}">
                    <a class="page-link" th:text="${i}" th:href="@{/catalog(page=${i},filters=${filters})}"></a>
                </li>

                <li class="page-item" th:classappend="${products.isLast()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/catalog(page=${products.nextOrLastPageable().getPageNumber() + 1},filters=${filters})}">Вперед</a>
                </li>
            </ul>
        </nav>

</div>

</body>
</html>